/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/autotools/gettext.m4
/autotools/iconv.m4
/autotools/intltool.m4
/autotools/lib-ld.m4
/autotools/lib-link.m4
/autotools/lib-prefix.m4
/autotools/nls.m4
/autotools/po.m4
/autotools/progtest.m4
/src/Makefile
/src/Makefile.in
/src/prevodb
/src/prevo
/src/dump-article
/src/dump-index
/src/dump-marks
/src/test-doc
/stamp-h1
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/prevo.pot
/po/*.gmo

.deps
*.o
