/ABOUT-NLS
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/autotools/*.m4
!/autotools/as-linguas.m4
!/autotools/as-compiler-flag.m4
/src/Makefile
/src/Makefile.in
/src/prevodb
/src/prevo
/src/dump-article
/src/dump-index
/src/dump-marks
/src/test-doc
/stamp-h1
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/*.gmo
/po/insert-header.sin
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/prevo.pot
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/stamp-it
/po/stamp-po

.deps
*.o
