/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/prevodb
/src/prevo
/src/dump-article
/src/dump-index
/src/dump-marks
/src/test-doc
/stamp-h1

.deps
*.o
